.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay.is-open {
  display: flex; /* Show when open */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.modal-header span{
   display: flex;
   justify-content: flex-end;
   cursor: pointer;
   font-weight: bold;
   text-decoration: underline;
}