:host,
:root {
  --ntt-color-brand-900: #0081c4;
  --ntt-color-brand-600: #13afff;
  --ntt-color-brand-400: #61caff;
  --ntt-color-brand-100: #d7f1ff;
  --davidienda-color-900: #dd141d;
  --davidienda-color-600: #e7464d;
  --davidienda-color-400: #f17579;
  --davidienda-color-100: #fad7d8;
  --ntt-color-primary-900: #08122e;
  --ntt-color-primary-600: #0b1940;
  --ntt-color-primary-400: #0e2052;
  --ntt-color-primary-100: #132b6e;
  --ntt-color-secondary-900: #ced4da;
  --ntt-color-secondary-600: #e9ecef;
  --ntt-color-secondary-400: #f5f7f9;
  --ntt-color-secondary-100: #f8f9fa;
  --ntt-color-tertiary-900: #ffe01c;
  --ntt-color-tertiary-600: #ffea5c;
  --ntt-color-tertiary-400: #fff27d;
  --ntt-color-tertiary-100: #fffad1;
  --ntt-color-dark-900: #000;
  --ntt-color-dark-600: #121212;
  --ntt-color-dark-400: #1f1f1f;
  --ntt-color-dark-100: #252525;
  --ntt-color-mid-900: #434343;
  --ntt-color-mid-600: #555;
  --ntt-color-mid-400: #7b7b7b;
  --ntt-color-mid-100: #9d9d9d;
  --ntt-color-light-900: #c6c6c6;
  --ntt-color-light-600: #e4e4e4;
  --ntt-color-light-500: #c4c4c4;
  --ntt-color-light-400: #f5f5f5;
  --ntt-color-light-100: #fff;
  --ntt-color-warning-900: #cf812c;
  --ntt-color-warning-600: #f99b35;
  --ntt-color-warning-400: #fccd9a;
  --ntt-color-warning-100: #feebd7;
  --ntt-color-error-900: #a62325;
  --ntt-color-error-600: #f93538;
  --ntt-color-error-400: #fb787a;
  --ntt-color-error-100: #fed7d7;
  --ntt-color-success-900: #1a6a0c;
  --ntt-color-success-600: #279f12;
  --ntt-color-success-400: #93cf88;
  --ntt-color-success-100: #d4ecd0;
  --ntt-color-info-900: #3263a4;
  --ntt-color-info-600: #4b95f6;
  --ntt-color-info-400: #4b95f6;
  --ntt-color-info-200: #a5cafa;
  --ntt-color-info-100: #dbeafd;
}
