:host,
:root {
  --ntt-radius-2: 0.125rem; /* 2px */
  --ntt-radius-4: 0.25rem; /* 4px */
  --ntt-radius-8: 0.5rem; /* 8px */
  --ntt-radius-12: 0.75rem; /* 12px */
  --ntt-radius-16: 1rem; /* 16px */
  --ntt-radius-32: 2rem; /* 32px */
  --ntt-radius-full: 624.9375rem; /*9999px full*/
}
