:host,
:root {
  --ntt-spacing-xxxxxs: 0.0625rem; /* 1px */
  --ntt-spacing-xxxxs: 0.125rem; /* 2px */
  --ntt-spacing-xxxs: 0.25rem; /* 4px */
  --ntt-spacing-xxs: 0.375rem; /* 6px */
  --ntt-spacing-xs: 0.5rem; /* 8px */
  --ntt-spacing-2xs: 0.625rem; /* 10px */
  --ntt-spacing-s: 0.75rem; /* 12px */
  --ntt-spacing-sm: 1rem; /* 16px */
  --ntt-spacing-2sm: 1.25rem; /* 20px */
  --ntt-spacing-md: 1.5rem; /* 24px */
  --ntt-spacing-lg: 2rem; /* 32px */
  --ntt-spacing-xl: 2.5rem; /* 40px */
  --ntt-spacing-2xl: 3rem; /* 48px */
  --ntt-spacing-3xl: 3.5rem; /* 56px */
  --ntt-spacing-4xl: 4rem; /* 64px */
  --ntt-spacing-5xl: 4.5rem; /* 72px */
  --ntt-spacing-6xl: 5rem; /* 80px */
}
