
.select-component{
    width: 100%;
}

.select-component-container{
    margin-top: 1rem;
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

.select-component-input-select{
    border: none;
    width: 100%;
}

.label {
    font-weight: bold;
}

.label-error {
    font-size: 0.8rem;
    color: red;
    margin-top: 0.3rem;
}