:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-text {
  color: var(--text-color, var(--color, #3498db));
  font-size: calc(var(--size, 50px) * 0.3);
  font-family: Arial, sans-serif;
  text-align: center;
}

.spinner {
  border: calc(var(--size, 50px) * 0.15) solid rgba(0, 0, 0, 0.1);
  border-top: calc(var(--size, 50px) * 0.15) solid var(--color, #3498db);
  border-radius: 50%;
  width: var(--size, 50px);
  height: var(--size, 50px);
  animation: spin var(--speed, 1s) var(--transition, ease-in-out) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dots {
  display: flex;
  gap: calc(var(--size, 50px) * 0.2);
}

.dots .dot {
  width: calc(var(--size, 50px) * 0.25);
  height: calc(var(--size, 50px) * 0.25);
  background-color: var(--color, #3498db);
  border-radius: 50%;
  animation: bounce var(--speed, 1s) var(--transition, ease-in-out) infinite;
}

.dots .dot:nth-child(2) {
  animation-delay: calc(var(--speed, 1s) * 0.16);
}

.dots .dot:nth-child(3) {
  animation-delay: calc(var(--speed, 1s) * 0.32);
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  width: var(--size, 50px);
  height: var(--size, 50px);
  background-color: var(--color, #3498db);
  border-radius: 50%;
  animation: pulse var(--speed, 1s) var(--transition, ease-in-out) infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.bars {
  display: flex;
  gap: calc(var(--size, 50px) * 0.15);
  align-items: center;
  height: var(--size, 50px);
}

.bars .bar {
  width: calc(var(--size, 50px) * 0.15);
  height: calc(var(--size, 50px) * 0.6);
  background-color: var(--color, #3498db);
  animation: bar-grow var(--speed, 1s) var(--transition, ease-in-out) infinite;
}

.bars .bar:nth-child(2) {
  animation-delay: calc(var(--speed, 1s) * 0.2);
}

.bars .bar:nth-child(3) {
  animation-delay: calc(var(--speed, 1s) * 0.4);
}

.bars .bar:nth-child(4) {
  animation-delay: calc(var(--speed, 1s) * 0.6);
}

@keyframes bar-grow {

  0%,
  100% {
    height: calc(var(--size, 50px) * 0.3);
  }

  50% {
    height: var(--size, 50px);
  }
}

.ring {
  width: var(--size, 50px);
  height: var(--size, 50px);
  border: calc(var(--size, 50px) * 0.15) solid transparent;
  border-top-color: var(--color, #3498db);
  border-bottom-color: var(--color, #3498db);
  border-radius: 50%;
  animation: ring-rotate var(--speed, 1s) linear infinite;
}

@keyframes ring-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dual-ring {
  width: var(--size, 50px);
  height: var(--size, 50px);
  position: relative;
}

.dual-ring::after {
  content: '';
  display: block;
  width: calc(var(--size, 50px) * 0.8);
  height: calc(var(--size, 50px) * 0.8);
  margin: calc(var(--size, 50px) * 0.1);
  border-radius: 50%;
  border: calc(var(--size, 50px) * 0.1) solid var(--color, #3498db);
  border-color: var(--color, #3498db) transparent var(--color, #3498db) transparent;
  animation: dual-ring var(--speed, 1s) linear infinite;
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ellipsis {
  display: inline-block;
  position: relative;
  width: var(--size, 50px);
  height: var(--size, 50px);
}

.ellipsis div {
  position: absolute;
  top: calc(var(--size, 50px) * 0.4);
  width: calc(var(--size, 50px) * 0.16);
  height: calc(var(--size, 50px) * 0.16);
  border-radius: 50%;
  background: var(--color, #3498db);
  animation-timing-function: var(--transition, ease-in-out);
}

.ellipsis div:nth-child(1) {
  left: calc(var(--size, 50px) * 0.1);
  animation: ellipsis1 var(--speed, 1s) infinite;
}

.ellipsis div:nth-child(2) {
  left: calc(var(--size, 50px) * 0.1);
  animation: ellipsis2 var(--speed, 1s) infinite;
}

.ellipsis div:nth-child(3) {
  left: calc(var(--size, 50px) * 0.4);
  animation: ellipsis2 var(--speed, 1s) infinite;
}

.ellipsis div:nth-child(4) {
  left: calc(var(--size, 50px) * 0.7);
  animation: ellipsis3 var(--speed, 1s) infinite;
}

@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(calc(var(--size, 50px) * 0.3), 0);
  }
}

@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.ripple {
  display: inline-block;
  position: relative;
  width: var(--size, 50px);
  height: var(--size, 50px);
}

.ripple div {
  position: absolute;
  border: calc(var(--size, 50px) * 0.08) solid var(--color, #3498db);
  opacity: 1;
  border-radius: 50%;
  animation: ripple var(--speed, 1s) var(--transition, ease-in-out) infinite;
}

.ripple div:nth-child(2) {
  animation-delay: calc(var(--speed, 1s) * -0.5);
}

@keyframes ripple {
  0% {
    top: calc(var(--size, 50px) * 0.45);
    left: calc(var(--size, 50px) * 0.45);
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: calc(var(--size, 50px) * 0.9);
    height: calc(var(--size, 50px) * 0.9);
    opacity: 0;
  }
}