:host, :root {
    //Colors
    --color-brand-900: #21A10F;
    --color-brand-600: #27C112;
    --color-brand-400: #3AEF00;
    --color-brand-100: #D4F3D0;
    --color-primary-900: #0B3642;
    --color-primary-600: #105163;
    --color-primary-400: #87A8B1;
    --color-primary-100: #CFDCE0;
    --color-secondary-900: #FE680D;
    --color-secondary-600: #F99B35;
    --color-secondary-400: #F99B35;
    --color-secondary-100: #FEEBD7;
    --color-terciary-900: #006863;
    --color-terciary-600: #0CDDD9;
    --color-terciary-400: #5DE8E6;
    --color-terciary-100: #0CDDD9;
    --color-dark-900: #000;
    --color-dark-600: #121212;
    --color-dark-400: #1F1F1F;
    --color-dark-100: #252525;
    --color-mid-900: #434343;
    --color-mid-600: #555;
    --color-mid-400: #7B7B7B;
    --color-mid-100: #9D9D9D;
    --color-light-900: #C6C6C6;
    --color-light-600: #E4E4E4;
    --color-light-500: #C4C4C4;
    --color-light-400: #F5F5F5;
    --color-light-100: #FFF;
    --color-warning-900: #CF812C;
    --color-warning-600: #F99B35;
    --color-warning-400: #FCCD9A;
    --color-warning-100: #FEEBD7;
    --color-error-900: #A62325;
    --color-error-600: #F93538;
    --color-error-400: #FB787A;
    --color-error-100: #FED7D7;
    --color-success-900: #1A6A0C;
    --color-success-600: #279F12;
    --color-success-400: #93CF88;
    --color-success-100: #D4ECD0;
    --color-info-900: #3263A4;
    --color-info-600: #4B95F6;
    --color-info-400: #A5CAFA;
    --color-info-100: #DBEAFD;

    // spacing
    --spacing-5xs: 0.0625rem;   /* 1px */
    --spacing-4xs: 0.125rem;   /* 2px */
    --spacing-3xs: 0.25rem;   /* 4px */
    --spacing-xxs: 0.375rem;  /* 6px */
    --spacing-xs:  0.5rem;    /* 8px */
    --spacing-2xs:  0.625rem; /* 10px */
    --spacing-s:   0.75rem;   /* 12px */
    --spacing-sm:  1rem;      /* 16px */
    --spacing-2sm:  1.25rem;  /* 20px */
    --spacing-md:  1.5rem;    /* 24px */
    --spacing-lg:  2rem;      /* 32px */
    --spacing-2lg:  2.125rem; /* 34px */
    --spacing-3lg:  2.375rem; /* 38px */
    --spacing-xl:  2.5rem;    /* 40px */
    --spacing-xml:  2.625rem;  /* 42px */
    --spacing-2xl: 3rem;      /* 48px */
    --spacing-3xl: 3.5rem;    /* 56px */
    --spacing-4xl: 4rem;      /* 64px */
    --spacing-5xl: 4.5rem;    /* 72px */
    --spacing-6xl: 5rem;      /* 80px */

    // radius
    --radius-2: 0.125rem; /* 2px */
    --radius-4: 0.25rem;
    --radius-8: 0.5rem;
    --radius-12: 0.75rem;
    --radius-16: 1rem;
    --radius-32: 2rem;
    --radius-full: 624.9375rem;

    //typo
    --font-size-html: 1rem;
    --font-weigh-regular: 400;
    --font-weigh-medium: 500;
    --font-weigh-semibold: 600;
    --font-weigh-bold: 700;
    --letter-spacing-ls-0: 0;
    --font-size-he: 5.5rem;       /* 88px */
    --font-size-h1: 3.5rem;       /* 56px */
    --font-size-h2: 3rem;         /* 48px */
    --font-size-h3: 2rem;         /* 32px */
    --font-size-h4: 1.75rem;      /* 28px */
    --font-size-h5: 1.3125rem;    /* 21px */
    --font-size-s1: 1.125rem;     /* 18px */
    --font-size-s2: 1rem;         /* 16px */
    --font-size-a1: 0.9375rem;    /* 15px */
    --font-size-a2: 0.875rem;     /* 14px */
    --font-size-a3: 0.75rem;      /* 12px */
    --font-size-b1: 0.875rem;     /* 14px */
    --font-size-b2: 0.8125rem;    /* 13px */
    --font-size-b3: 0.75rem;      /* 12px */
    --font-size-c: 0.6875rem;     /* 11px */
    --font-size-o: 0.625rem;      /* 10px */
    --line-height-he: 7rem;       /* 112px */
    --line-height-h1: 4rem;       /* 64px */
    --line-height-h2: 3.5rem;     /* 56px */
    --line-height-h3: 2.5rem;     /* 40px */
    --line-height-h4: 2.25rem;    /* 36px */
    --line-height-h5: 1.75rem;    /* 28px */
    --line-height-s1: 1.5rem;     /* 24px */
    --line-height-s2: 1.25rem;    /* 20px */
    --line-height-a1: 1.3125rem;  /* 21px */
    --line-height-a2: 1.25rem;    /* 20px */
    --line-height-a3: 1.0625rem;  /* 17px */
    --line-height-b1: 1.5rem;     /* 24px */
    --line-height-b2: 1.375rem;   /* 22px */
    --line-height-b3: 1.25rem;    /* 20px */
    --line-height-c: 1rem;        /* 16px */
    --line-height-o: 0.875rem;    /* 14px */
}

