:root {
    --success: #3ab65c;
    --error: #bf333b;
    --info: #1898c0;
    --warning: #bc8c12;
    --success-hover: #2d8a46;
    --error-hover: #962a31;
    --info-hover: #147fa0;
    --warning-hover: #9b7512;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 80px auto;
}

.container-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    background: #000;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s ease all;
}

.btn.success {
    background: #3ab65c;
}

.btn.error {
    background: #bf333b;
}

.btn.info {
    background: #1898c0;
}

.btn.warning {
    background: #bc8c12;
}

/*hover*/
.btn.success:hover {
    background: #2d8a46;
}

.btn.error:hover {
    background: #962a31;
}

.btn.info:hover {
    background: #147fa0;
}

.btn.warning:hover {
    background: #9b7512;
}

/* Toast */
.container-toast {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

}

.toast {
    background: #CCC;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    animation-name: open;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    position: relative;
}

.toast.success {
    background: #3ab65c ;
}

.toast.error {
    background: #bf333b ;
}

.toast.info {
    background: #1898c0 ;
}

.toast.warning {
    background: #bc8c12 ;
}

.toast .content {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.toast .icon {
    color: rgba(0,0,0,0.4);
}

.toast .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.toast .btn-close {
    background: rgba(0,0,0,0.1);
    border: none;
    cursor: pointer;
    padding: 0px 5px;
    transition: .3s ease all;
}

.toast .btn-close:hover {
    background: rgba(0,0,0,0.3);
}

.toast .btn-close .icon {
    width: 20px;
    height: 20px;
    color: #fff;
}

@keyframes open {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.toast.closing {
    animation-name: close;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes close {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100% + 40px));
    }
}

.toast.autoclose::after {
   content: "";
   width: 100%;
   height: 4px;
   background: rgba(0,0,0,0.5); 
   position: absolute;
   bottom: 0;
   animation-name: autoclose;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes autoclose {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}