.container-datePicker-component {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-datePicker {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
.datePicker-label {
  padding-left: 12px;
  margin: 15px 0 5px;
}
.datePicker-input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  min-width: 150px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 8px;
}
.datePicker-input.noIcon {
  background-image: none;
}
.datePicker-input.iconRight {
  padding: 5px 40px 5px 10px;
  background-position: calc(100% - 10px);
}
.datePicker-input.iconLeft {
  background-position: 10px;
  padding: 5px 10px 5px 40px;
}
.datePicker-input.iconRight::-webkit-calendar-picker-indicator,
.datePicker-input.iconLeft::-webkit-calendar-picker-indicator,
.datePicker-input.noIcon::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
