*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
}

.card-head {
    display: flex;
    width: 100%;
    max-height: 200px;
    border-bottom: 1px solid black;
}

.card-head img {
    object-fit: cover;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 1.1rem;
    font-weight: 700;
}

.text {
    font-size: 0.9rem;
}

.body-btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 25px;
    color: white;
    background: blue;
    transition: all 0.3s ease;
    margin-top: auto;
    border: 1px solid blue;
}

.body-btn:hover,
.body-btn:focus {
    background: #000fff;
    color: white;
}

@media (min-width: 768px){
    .grid {
        place-items: stretch;
    }
}